standardModaloer_metawpr
{
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.oer_metawpr .oer_metainrwpr
{
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.oer_metainrwpr .oer_snglfld
{
	width: 100%;
	float: left;
	margin: 0;
	padding: 6px 0;
	line-height: 25px;
}
.oer_snglfld.oer_hdngsngl
{
	font-weight: bold;
	font-size: 22px;
	width: 700px;
	position: relative;
	padding-top:20px;
}
.oer_metainrwpr .oer_snglfld.oer_hdngsngl { width:100%; }
.oer_metainrwpr .oer_authrcntr
{
	width: 850px;
	float: left;
	position: relative;
}
.oer_cls
{
	position: absolute;
	right: 300px;
	top: -30px;
	cursor: pointer;
	width: 32px;
	height: 32px;
}
.oer_snglfld.oer_hdngsngl input[type="button"]
{
	/*float: right;*/
}
.resource-notice-legend { padding:20px 0 0; }
.oer_snglfld .oer_txt
{
	width: 180px;
	float: left;
	margin: 0;
	padding: 0;
}
.oer_snglfld .oer_fld
{
	width: 500px;
	float: left;
	margin: 0;
	padding: 0;
}
.oer_snglfld .oer_fld input[type="text"]
{
    float: left;
    margin: 0;
    padding: 7px 0;
    width: 320px;
}
.oer_snglfld .oer_fld label
{
	padding-right: 5px;
}
.oer_snglfld .oer_fld select
{
	width: 320px;
	padding:7px;
}
.oer_imprtrwpr
{
    float: left;
    padding: 0px 20px 30px;
    width: 90%;
}
.oer_imprtrwpr .oer_hdng
{
    float: left;
    font-size: 25px;
    padding: 20px 0;
    width: 100%;
}
.oer_fld ul
{
	list-style: none;
	margin-top: 5px;
}
.oer_fld .oer_grade li
{
    float: left;
    width: 50%;
}
.oer_main_lst {
    float: left;
    width: 100%;
}
.oer_sub_lst {
    float: left;
    width: 100%;
}
.oer_child {
    margin-left: 25px;
}
.oer_fld  .radio_btn {
    float: left;
    width: 20%;
}
.testing
{
	font-weight: bold;
	color: blue;
}
/*.oer_lstofstandrd li{
	display: none;
}*/
/*li.oer_sbstndard
{
	display: block;
}*/

.oer_fld .oer_lstofstandrd {
    float: left;
	height: auto;
    width: 100%;
}
.oer_fld .oer_lstofstandrd ul{
    float: left;
    width: 100%;
}
.oer_fld .oer_lstofstandrd li ul {
    padding-left: 30px;
}
.oer_fld .oer_lstofstandrd ul li{
    float: left;
    width: 90%;
	margin-top: 5px;
}
.oer_fld .oer_lstofstandrd img{
    /*margin-left:100px;*/
}
.oer_fld .oer_lstofstandrd .oer_sbstndard .stndrd_ttl img
{
	margin-right: 10px;
}
.oer_spn_category img
{
	width: 90px;
	height: 90px;
}
.oer_pargrph
{
	width: 1000px;
	float: left;
	font-size: 14px;
	margin-bottom: 15px;
}
.oer_stndrd_desc {
    margin-left: 25px;
}
.oer_cats {
    float: left;
    margin-left: 30px;
    width: 97%;
	margin-top: 10px;
}
.oer_main li
{
	display: none;
}
li.oer_main
{
	list-style: none;
}
ul.oer_slctstandard > li
{
	display: list-item;
}
.oer_fld .active {
    width: 94%!important;
}
.oer_lstofstandrd {
    height: 600px !important;
    overflow: scroll;
    width: 600px !important;
}
.oer_chck_label { font-size:1.5em; }
.oer_settings_form legend {
	font-size: 25px;
	padding: 20px 0;
}
.oer_settings_form .form-inline-error { color:#FF0000; margin-left:5px; }
.oer_imprtrwpr .fields {
	margin-bottom:10px;
}
.oer-plugin-row fieldset, .oer-import-row fieldset {
	border: 1px solid #cccccc;
	padding-left: 10px;
}
.oer-plugin-footer { margin:10px 0 0; font-size:0.9em; }
.oer-plugin-info {  display:inline-block; width: 49%; }
.oer-plugin-link { display:inline-block; margin-left:10px; width:48%; text-align:right; }
.clear { clear:both; }
#col-standards-left { width:40%; float:left; }
#col-standards-left .oer_pargrph { width:auto; float:none; }
#col-standards-right { width:60%; float:right; height:600px; overflow:scroll; }
.wp-standards-list td:first-child, .wp-standards-list th:first-child { width:10%; }
.wp-standards-list td:not(:first-child), .wp-standards-list th:not(:first-child) { width:45%; }
#ui-datepicker-div { display:none; }
.oer-plugin-row, .oer-import-row { padding:0 15px; overflow:hidden; }
.oer-plugin-row:first-child, .oer-import-row:first-child { padding:15px 15px 0; }
.oer-import-row:first-child { padding:10px 0 0; }
.oer-import-row { padding:0; }
.oer-import-row .row-left .fields table.form-table td label { display:inline; }
.oer-plugin-row .oer-row-left, .oer-import-row .row-left { width:68%; float:left; }
.oer-plugin-row .oer-row-right, .oer-import-row .row-right { width:30%; float:right; }
.oer-import-row .row2-left { width:85%; float:left; }
.oer-import-row .row2-right { width:13%; float:right; }
.oer-plugin-row fieldset, .oer-import-row fieldset { margin-bottom:15px; }
.oer-plugin-row .form-table th { width:0; display:none; }
.oer-plugin-row .form-table td label { margin-right:10px; }
.oer-plugin-row .bottom-margin { margin-bottom:10px; }
.oer-plugin-row .form-table td .indent { margin-left:25px; }
.oer-plugin-row .form-table td textarea { width:100%; }
.oer-plugin-row .form-table td .inline-desc {
	font-weight: normal;
	font-size: 14px;
	margin-left: 30px;
}
.oer-plugin-row .form-table td h3 { margin:0; }
.oer-plugin-body { border-left:1px solid #cdcdcd; border-right:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; }
.oer_imprtrwpr form legend {
	font-size: 25px;
	padding: 20px 0;
}
.oer-import-row .oer_imprtrwpr {
    float: left;
    padding: 0px 0px 0px;
    width: 100%;
}
.alignRight { text-align:right; }
.oer_imprtrwpr form .oer-import-row { padding:10px 15px 10px 5px; }
.oer_imprtrwpr form .oer-import-row .row-left table.form-table th { display:none; }
.oer_imprtrwpr form .oer-import-row .row-left table.form-table td { padding:5px 10px; }
p.oer_heading {
	font-size: 23px;
	font-weight: 400;
	margin: 0;
	padding: 9px 15px 4px 0;
	line-height: 29px;
}
label.disabled { color:#ababab; }
label.disabled strong { font-weight:normal; }
span.prev-import { font-style:italic; font-weight:bold; color:#000000; }
.hide-description { margin-bottom:10px !important; }
tr.hide-title-setting td { padding:0 10px 15px !important; }
.resource-upload-notice { margin-bottom:10px; }
.notice-red { color:red; }
.loader {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	background: rgba(60,60,60,0.5);
	display:none;
}
.loader .loader-img { display: table; overflow: hidden; height:100%; width:100%; }
.loader .loader-img div { display:table-cell; top:30%; position:relative; }
p.submit { margin-top:0; padding: 15px; }
.oer_settings_form .plugin-row-first{ padding-top:0px; }
.loader-notice { font-size:18px; color: #fbe0e0;text-align:center;margin:10px auto;display:block !important;font-weight:bold; }
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table th { text-align:left; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table>tbody>tr>td input[type=text] { width:75%; }
#oer_local_resource_button.ui-button {
    padding: 6px 10px;
}
.standard-label {
	padding: 5px 10px;
	border: 1px solid #cdcdcd;
	border-radius: 15px;
	margin-right: 5px;
	background: #f1f1f1;
	margin:3px;
	display:inline-block;
}
a.remove-standard { text-decoration:none; }
a.remove-standard span { line-height:1.25em; }
.auto-width { width:auto !important; }
#standardModal ul ul { margin-left:40px; }
#standardModal #standards-list { max-height:400px; overflow-y:auto; }
.auto-width { width:auto !important; }
#standardModal ul ul, #relatedResourcesModal ul ul { margin-left:40px; }
#standardModal #standards-list, #relatedResourcesModal #standards-list { max-height:400px; overflow-y:auto; }
#add-new-standard { margin:3px; height:32px; }
#standardModal .search-bar, #relatedResourcesModal .search-bar {
	margin-bottom: 15px;
	margin-top: auto;
	height: 40px;
	padding: 0;
	position:relative;
	border:1px solid #cdcdcd;
}
.search-standard-text {
	color: white;
	border: 0 !important;
	outline: none !important;
	background: none !important;
	line-height: 40px;
	transition: width 0.4s linear;
	padding: 0 10px;
}
.search-standard-text:focus { border-color:transparent !important; box-shadow:none !important;}
.search-related-resources-text {
	color: white;
	border: 0 !important;
	outline: none !important;
	background: none !important;
	line-height: 40px;
	transition: width 0.4s linear;
	padding: 0 10px;
}
.search-related-resources-text:focus { border-color:transparent !important; box-shadow:none !important;}
.search-bar:hover > .search_std_btn{
    background: white;
    color: #e74c3c;
}
.search_std_btn{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    position:absolute;
    right:2.5px;
    top:2.5px;
}
.search_close_btn {
	height: 30px;
	width: 30px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: white;
	position: absolute;
	right: 2.5px;
	top: 2.5px;
}
.search_close_btn .dashicons { color:#000000; }
#oer_search_results_list { display:none; }
#oer_search_results_list{ position:relative; }
button#add-new-related-resource {float: left;clear: left;}
.oer_fld.auto-width.oer_related_resource_display {margin-bottom: 10px;}
div#oer_related_resources_list ul li {margin: 0px;}
div#oer_related_resources_list ul li input.relatedResourceNode {display:none;}
div#oer_related_resources_list ul li label {
	position: relative;
  padding: 5px 5px 5px 0px;
  margin: 0px;
  line-height: 1.2em;
}
div#oer_related_resources_list ul li label.selected {
	color: #fff;
	width: 100%;
	padding: 5px 5px 5px 20px;
	text-shadow: 1px 1px 3px #000000;
	background-color: #0085ba;
	background: -moz-linear-gradient(left,  rgba(0,133,186,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(0,133,186,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,  rgba(0,133,186,1) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0085ba', endColorstr='#00ffffff',GradientType=1 );
}
span.relatedResourceSelectorImage {display: none;}
label.selected span.relatedResourceSelectorImage {
    display: block;
    position: absolute;
    left: 0px;
    top: 3px;
}
div#standardModal { z-index: 9999 !important; }
.oer_settings_form input::placeholder { color:#707d86; }
.oer_text_red { color:#ce1212; }
.components-button.button.button-primary { font-weight:bold; }
.resource-notice-legend, .resource-path-legend { padding-bottom:0px !important; }
#oer_configurable_resource_path,
#oer_nalrc_resources_page_title { width:50%; padding: 5px 10px; }