.oer_rsfrmwpr
{
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.oer_rsfrmwpr .oer_rsfrmhdng
{
    float: left;
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.oer_rsfrmwpr .oer_rsfrminrwpr
{
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.oer_rsfrminrwpr .oer_snglfld
{
	width: 100%;
	float: left;
	margin: 0;
	padding: 6px 0;
	line-height: 25px;
}
.oer_snglfld.oer_hdngsngl
{
	font-weight: bold;
	font-size: 22px;
	width: 100%;
	position: relative;
}
.oer_rsfrminrwpr .oer_authrcntr
{
	width: 100%;
	float: left;
	position: relative;
}
.oer_cls
{
	position: absolute;
	right: 0px;
	top: -30px;
	cursor: pointer;
	width: 32px;
	height: 32px;
}
.oer_snglfld.oer_hdngsngl input[type="button"], .oer_snglfld input[type="submit"]
{
	border-radius: 5px 5px 5px 5px;
	color: #ffffff;
	border: medium none !important;
	cursor: pointer;
	float: left;
	font-weight: bold;
	height: auto;
	margin: 0 0 0 0px;
	padding: 10px 20px;
	text-align: center;
	width: auto;
	background-image: linear-gradient(to bottom, #2A95C5, #21759B);
	filter: progrid:DXImageTransform.Microsoft.gradient( startColorstr =#2A95C5, endColorstr = #21759B,GradientType=0);
	font-size: 14px;
}
.oer_snglfld.oer_hdngsngl input[type="button"]:hover, .oer_snglfld input[type="submit"]:hover
{
	background-image: linear-gradient(to bottom, #2E9FD2, #21759B);
	filter: progrid:DXImageTransform.Microsoft.gradient( startColorstr=#2E9FD2,endColorstr=#21759B,GradientType=0 );
}
.oer_snglfld .oer_txt
{
	width: 30%;
	float: left;
	margin: 0;
	padding: 0;
}
.oer_snglfld .oer_fld
{
	width: 70%;
	float: left;
	margin: 0;
	padding: 0;
}
.oer_snglfld .oer_fld input[type="text"]
{
    float: left;
    margin: 0;
    padding: 7px 0;
    width: 100%;
}
.oer_snglfld .oer_fld label
{
    padding-left: 20px;
    padding-right: 5px;
	cursor: pointer;
}
.oer_snglfld .oer_fld select
{
    height: 30px;
    width: 100%;
}
.oer_imprtrwpr
{
    float: left;
    padding: 0px 20px 30px;
    width: 1200px;
}
.oer_imprtrwpr .oer_hdng
{
    float: left;
    font-size: 25px;
    padding: 20px 0;
    width: 100%;
}
.postform
{
    height: 100px !important;
}
.oer_fld ul
{
	list-style: none;
}
.oer_fld li
{
    float: left;
    width: 50%;
	display: block;
}
.level-0,.level-1,.level-2,.level-3,.level-4
{
	height: 20px;
	padding: 2px 0;
}
.oer_lstofstandrd li{
	display: none;
}
li.oer_sbstndard{
	display: block;
}
.oer_fld .oer_lstofstandrd {
    float: left;
    width: 100%;
}
.oer_fld .oer_lstofstandrd ul{
    float: left;
    width: 100%;
}
.oer_fld .oer_lstofstandrd ul li{
    float: left;
    width: 100%;
}
.oer_fld .oer_lstofstandrd img{
    margin-left:100px;
}
.oer_snglctwpr { padding-left:0 !important;padding-right:0 !important;float:none !important; position:initial !important; display:inline-block; }
.oer-ctgry-cntnr {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    position: relative;
    margin: 0 auto !important;
    float: left;
}
.oer-cat-div, .oer-cat-div-large {
    float: none;
    width: 93%;
    height: auto;
    border: 1px solid #afafaf;
    margin: 10px;
    background: none no-repeat scroll center bottom #fff;
    position: relative;
    clear: both;
    height: 325px;
    display: inline-block;
}
.oer-cat-div-medium {
    float: none;
    width: 93%;
    height: auto;
    border: 1px solid #afafaf;
    margin: 10px;
    background: none no-repeat scroll center bottom #fff;
    position: relative;
    clear: both;
    height: 80px;
    display: inline-block;
}
.oer-cat-div-small {
    float: none;
    width: 93%;
    height: auto;
    border: 1px solid #afafaf;
    margin: 10px;
    background: none no-repeat scroll center bottom #fff;
    position: relative;
    clear: both;
    height: 45px;
    display: inline-block;
}
.oer-cat-icn {
    float: left;
    width: 100%;
    height: 245px;
}
.oer-cat-div-medium .oer-cat-icn {
    width: 70px;
    height: 70px;
    margin: 1%;
    background-size: auto 100% !important;
    overflow: hidden;
    background-position-x: 0px !important;
    margin-left:10px;
}
.col-md-3 .oer-cat-div-medium .oer-cat-icn {
	width:70px;
	background-position-x:0 !important;
	margin-left:3px;
}
.col-md-6 .oer-cat-div-medium .oer-cat-icn { margin:0.65%; margin-left:10px; }
.col-md-12 .oer-cat-div-medium .oer-cat-icn { margin:0.35%; margin-left:10px; }
.oer-cat-div-small .oer-cat-icn { display:none; }
.col-md-3 .oer-cat-div-medium .oer-cat-txt-btm-cntnr { width:72%; }
.col-md-6 .oer-cat-div-medium .oer-cat-txt-btm-cntnr { width:82%; }
.col-md-12 .oer-cat-div-medium .oer-cat-txt-btm-cntnr { width:92%; }
.oer-cat-txt-btm-cntnr {
    float: left;
    width: 100%;
    border-bottom: 2px solid #024387;
    height: 80px;
    color: #444;
}
.oer-cat-div-medium .oer-cat-txt-btm-cntnr {
    width: 76%;
    float: right;
    border-bottom: none;
    display: table;
}
.oer-cat-div-small .oer-cat-txt-btm-cntnr { border:none; }
.oer-cat-div-medium .oer-cat-txt-btm-cntnr ul {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}
.oer-cat-txt-btm-cntnr li {
    margin-left: 0px;
    margin-top: 35px;
    font-size: 15px;
    letter-spacing: .5px;
    list-style:none;
}
.oer-cat-div-medium .oer-cat-txt-btm-cntnr ul li { margin-top:0; }
.oer-cat-div-small .oer-cat-txt-btm-cntnr li { margin-top:5px; }
.oer-cat-div-medium .oer-cat-txt-btm-cntnr ul li label.oer-mne-sbjct-ttl {
	white-space:normal;
}
.oer-cat-div-small .oer-cat-txt-btm-cntnr li a,
.oer-cat-div-medium .oer-cat-txt-btm-cntnr li a{ color:#444; }
.oer-cat-div-small .oer-cat-txt-btm-cntnr li a:hover,
.oer-cat-div-medium .oer-cat-txt-btm-cntnr li a:hover{ color:#024387 !important; }
.oer-cat-div-medium .oer-cat-txt-btm-cntnr li span { margin:12px 10px; }
.oer-child-category {
    float: left;
    margin: 0;
    padding: 0;
    background: none repeat scroll 0 0 #ededed;
    padding: 10px;
    /* display: none; */
    position: absolute;
}
.oer-child-category .oer-category .oer-sub-category {
    position: relative;
    width: 100%;
    float: left;
    /* background: url(img/plus.png) no-repeat scroll 0 0 transparent; */
    margin-bottom: 1px;
}
.oer-child-category .oer-category .oer-sub-category span {
    width: 100%;
    float: left;
    background: none repeat scroll 0 0 #ffffff;
    margin-bottom: 1px;
}
.oer-child-category .oer-category .oer-sub-category a {
    float: left;
    text-decoration: none;
    color: #444;
    padding: 15px 0 15px 15px;
    width: 71%;
    margin-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.oer-cat-txt-btm-cntnr ul { list-style:none; }
.oer-mne-sbjct-ttl {
    float: left;
    width: 70%;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.oer-cat-txt-btm-cntnr li span {
    background: #e57100;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    float: right;
    margin-right: 10px;
    font-size: 12px;
}
.oer-cat-div:hover .oer-cat-txt-btm-cntnr,
.oer-cat-div-large:hover .oer-cat-txt-btm-cntnr{
    background: #024387;
    cursor: pointer;
    color: #fff;
}
.oer_child_content_wpr {
    float: left;
    margin: 0;
    padding: 20px 20px 0px 20px;
    display: none;
    background: #ededed;
    border-top: 1px solid #024387;
    border-bottom: 1px solid #024387;
    position: absolute;
    left: 0;
    right: 0;
}
.oer_category_sidebar>.oer-category, .oer_child_content_wpr>.oer-category, .oer_category_sidebar>.oer-category>.oer-sub-category, .oer_child_content_wpr>.oer-category>.oer-sub-category {
    display: block;
}
.oer_child_content_wpr>.oer-category>.oer-sub-category { margin:0; }
.oer_category_sidebar .oer-category, .oer_child_content_wpr .oer-category {
    display: none;
    width: 100%;
    float: left;
}
.oer_category_sidebar .oer-category .oer-sub-category, .oer_child_content_wpr .oer-category .oer-sub-category, .oer-child-category .oer-category .oer-sub-category {
    position: relative;
    width: 100%;
    float: left;
    /* background: url(img/plus.png) no-repeat scroll 0 0 transparent; */
    margin-bottom: 1px;
}
.oer_category_sidebar>.oer-category, .oer_child_content_wpr>.oer-category, .oer_category_sidebar>.oer-category>.oer-sub-category, .oer_child_content_wpr>.oer-category>.oer-sub-category {
    display: block;
}

.oer_category_sidebar .oer-category .oer-sub-category span, .oer_child_content_wpr .oer-category .oer-sub-category span, .oer-child-category .oer-category .oer-sub-category span {
    width: 100%;
    float: left;
    background: none repeat scroll 0 0 #ffffff;
    margin-bottom: 1px;
}

.oer_category_sidebar .oer-category .oer-sub-category>span a, .oer_child_content_wpr .oer-category .oer-sub-category>span a {
    width: 71%;
    margin-right: 20px;
    float: left;
    padding: 15px 0 15px 15px;
    text-decoration: none;
    color: #444;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.oer_child_content_wpr .oer-category .oer-sub-category label {
    margin: 13px 0 0;
}
.oer_child_content_wpr .oer-category label, .oer_child_content_wpr .oer-category .oer-sub-category label, .oer_child_content_wpr .oer-category .oer-sub-category .oer-sub-category label {
    float: left;
    padding: 2px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #888;
    font-size: 13px;
}

.oer-cat-div:hover .oer-cat-txt-btm-cntnr .oer-mne-sbjct-ttl a,
.oer-cat-div-large:hover .oer-cat-txt-btm-cntnr .oer-mne-sbjct-ttl a{ color: #fff; }
.oer-cntnr { overflow:hidden; width:100%; margin:0 auto !important; }

/* Eleganto specific style due to lack of styling from theme */
.eleganto .oer-allftrdrsrc,
.eleganto .oer_sngl_resource_wrapper p,
.eleganto .oer_sngl_resource_wrapper h1,
.eleganto .oer_sngl_resource_wrapper h2,
.eleganto .oer_sngl_resource_wrapper h3,
.eleganto .oer_sngl_resource_wrapper h4,
.eleganto .oer_sngl_resource_wrapper h5 { color:#ffffff; }
/* Vertex specific style */
.vertex #sngl-resource { width:75%; float:right; }
.vertex #oer-content .oer-cntnr { width:75%; float:right; }
/* Tag Resource Styles */
.oer_blgpst { padding:10px 0; border-bottom:1px solid #cdcdcd; overflow:hidden; }
.oer_blgpst .oer-feature-image { width:20%; float:left; }
.oer_blgpst .rght-sd-cntnr-blg { width:80%; float:right; }
.oer_blgpst .rght-sd-cntnr-blg h2 { margin-bottom:0; }
.resource-tag #content { width:100%; }
.oer_sngl_stndrd { margin-bottom:5px; margin-left:25px; }
.oer_sngl_notation { font-size:1.1em; font-weight:bold; }
/*.oer-rsrclftcntr-img { padding-left:0 !important; }*/
.oer-rsrclftcntr { padding-left:0 !important; }
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.search-results #content .fusion-post-content .fusion-post-content-container p {
	display: block;
	display: -webkit-box;
	height: 6em;
	margin: 0 auto;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.search-results #content .fusion-post-content h2.fusion-post-title { margin-bottom:0; }
.search-results #content .fusion-post-content h5.fusion-post-meta { margin-bottom:25px; margin-top:0; }
.search-results #content .fusion-post-content h5.fusion-post-meta .fusion-post-meta-box { margin-right:15px; }
.search-results #content .fusion-post-content .fusion-subject-areas { overflow:hidden; margin-top:15px; }
.search-results #content .fusion-post-content .fusion-subject-areas span { margin-right:5px; }
.search-results .type-resource .entry-header h2.entry-title { margin-bottom:0; }
.search-results .type-resource .entry-header h5.post-meta { margin-bottom:1.05em; }
.search-results .type-resource .entry-header h5.post-meta .post-meta-box { margin-right:15px; }
.search-results #content #posts-container .pagination { margin-bottom:20px; }
article.oer_sngl_resource_wrapper div#sngl-resource header.entry-header h1.entry-title {font-size: 20px; line-height: 30px;}
.oer-standards #content, .standards-template #content,
.substandards-template #content, .notation-template #content { width:100%; }
.oer-pdf-viewer { /*min-height:1250px;*/min-height:700px; height:100%; }
.oer-standards #content ul.oer-standards li,
.standards-template #content ul.oer-standards li,
.substandards-template #content ul.oer-substandards li{ list-style-type:none;  }
.oer-standards #content ul.oer-standards,
.standards-template #content ul.oer-standards{ padding-left:0; margin-top:10px;}
#content ul.oer-substandards,
#content ul.oer-standard { margin-top:10px; padding-left:20px; }
#content ul.oer-hsubstandards { padding-left:20px; }
#content ul.oer-notations { padding-left:20px; }
#content ul.oer-substandards li, 
#content ul.oer-standard li,
#content ul.oer-notations li{ list-style-type:none; }
#content ul.oer-notations li h4 { margin-top:5px; }
.oer_standard_resources h4 { margin-bottom:10px; }
.oer_standard_resources ul.oer-resources { padding-left:20px; }
.oer_standard_resources li { list-style-type:none; }
.oer-backlink { margin-bottom:10px; }
#content ul.oer-substandards { margin-top:0; }
.oer_blgpst .rght-sd-cntnr-blg h4 { margin-top:0; }
@media screen and (max-width: 600px) {
	.oer_blgpst .oer-feature-image { width:100%; float:none; margin-bottom:10px; }
	.oer_blgpst .rght-sd-cntnr-blg { width:100%; float:none; }
	.oer_sngl_stndrd { margin-left:5px; }
}
a.oer-featureimg .dashicons {
	font-size: 165px;
	width: 100%;
	height: 400px;
	vertical-align: middle;
	line-height: 400px;
	opacity: 0.7;
}
a.oer-featureimg .dashicons.nofeat {
    border: 1px solid #e0e0e0;
    height: 300px;
    line-height: 300px;
}
/* RELATED RESOURCES FRONT */
.lp-primary-sources-row {
	padding: 25px 25px 50px 25px;
	background: #FBFBFB;
	border-top: 1px solid #E0E0E0;
	float: left;
	width: 100%;
	margin-top: 25px;
	margin-left:0px !important;
	margin-right:0px !important;
}
.lp-related-resources-header {
	float: left;
	width: 100%;
	padding: 0px 15px 23px 15px;
	font-size: 18px;
	font-weight: 600;
}
.lp-primary-sources-row .media-image {
	background: rgba(255,255,255,0.8);
	width: 240px;
	height: auto;
	min-height: 349px;
	border: 1px solid #e2e2e2;
	box-sizing: border-box;
	overflow: hidden;
	position:relative;
	margin: 0px auto 40px auto;
}
.lp-primary-sources-row .image-thumbnail {
    height: 240px;
    min-height: 150px;
    width: 240px;
    overflow: hidden;
    border-top: none;
    text-align: center;
    display: block;
    padding: 0;
    position: relative;
}
span.resource-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(157, 157, 157, 0.3);
    transition: all .4s ease-in;
}
span.resource-overlay:hover {
    opacity: 0;
}
.lp-source-type {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    color: #ffffff;
}
.resource-thumbnail {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.lp-resource-info {
    display: block;
    float: left;
    width: 100%;
    padding: 18px 11px;
}
.lp-primary-sources-row .lp-resource-title {
	background: #ffffff;
	color: #4b4b4b;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5em;
	font-weight: 600;
}
.lp-resource-author {
	float:left;
	background: #ffffff;
	color: #4b4b4b;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 600;
}
.lp-resource-author_block>a {
	font-size: .9em;
	line-height: 1.6em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.lp-resource-author_block {
	display:block;
	width: 100%;
	float: left;
	padding: 0px;
	line-height: 1.2em;
}
.lp-resource-excerpt {
    float: left;
    width: 100%;
    line-height: 1.2em;
    font-size: .9em;
}
.resource-avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}
.resource-avatar .dashicons {
    font-size: 157px;
    width: auto;
    height: 148px;
    margin-top: 45px;
}
div#oer_related_resources_list label input {
    line-height: 1em;
    margin: 0px;
}
.wp_oer_breadcrumb {
		display: block;
		float: left;
		width: 100%;
		text-align: right;
		padding: 12px 1px;
		font-size: 1em !important;
}
.navigation-avatar .dashicons {
    font-size: 82px;
    width: 82px;
    height: 82px;
}
.twenty-twenty .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul {
    padding-left: 0;
    margin-left: 10px;
}
.twenty-twenty .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li .oer-mne-sbjct-ttl { width:62%; }
.twenty-nineteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li .oer-mne-sbjct-ttl { width:48%; }
.twenty-seventeen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li span,
.twenty-fifteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li span { font-size:12px; }
.twenty-fourteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li span,
.twenty-eleven .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li span  { font-size:10px; }
.twenty-seventeen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul,
.twenty-fifteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul { padding-left:10px; }
.twenty-fourteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul,
.twenty-eleven .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul  { padding-left:10px; margin-left:0; }
.twenty-seventeen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cat-txt-btm-cntnr li,
.twenty-fifteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cat-txt-btm-cntnr li,
.twenty-fourteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cat-txt-btm-cntnr li,
.twenty-eleven .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cat-txt-btm-cntnr li { margin-top:10px; position:relative; }
.twenty-seventeen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li .oer-mne-sbjct-ttl,
.twenty-fifteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li .oer-mne-sbjct-ttl,
.twenty-fourteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li .oer-mne-sbjct-ttl { width:100%; }
.twenty-fourteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li .oer-mne-sbjct-ttl,
.twenty-eleven .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li .oer-mne-sbjct-ttl { font-size:12px; width:100%; }
.twenty-seventeen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li span:last-child,
.twenty-fifteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li span:last-child,
.twenty-fourteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li span:last-child, 
.twenty-eleven .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li span:last-child { position:absolute; top:0; right:0; }
.twenty-sixteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul { padding-left:10px; }
.twenty-sixteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li .oer-mne-sbjct-ttl { width:40%; }
.twenty-thirteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul { padding-left:10px; }
.twenty-thirteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li { margin-top:10px; position:relative; }
.twenty-thirteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li span.oer-expand-subject { font-size:12px; }
.twenty-thirteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li .oer-mne-sbjct-ttl { width:100%; }
.twenty-thirteen .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li span:last-child { position:absolute; top:0; right:0; }
.twenty-twelve .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li { margin-top:35px; margin-left:0; }
.twenty-twelve .wp-block-wp-oer-plugin-wp-oer-subjects-index .oer-cntnr .oer-ctgry-cntnr .oer_snglctwpr .oer-cat-div .oer-cat-txt-btm-cntnr ul li .oer-mne-sbjct-ttl { width:45%; }
.oer-subject-resources-list .oer-snglrsrc .oer-snglttldscrght .tagcloud span { margin:10px 0; }
.tc-oer-subject-areas-list li.lp-subject-hidden i {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3px;
    margin-right: 3px;
}