.oer_rsfrmwpr
{
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.oer_rsfrmwpr .oer_rsfrmhdng
{
    float: left;
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.oer_rsfrmwpr .oer_rsfrminrwpr
{
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.oer_rsfrminrwpr .oer_snglfld
{
	width: 100%;
	float: left;
	margin: 0;
	padding: 6px 0;
	line-height: 25px;
}
.oer_snglfld.oer_hdngsngl
{
	font-weight: bold;
	font-size: 22px;
	width: 100%;
	position: relative;
}
.oer_rsfrminrwpr .oer_authrcntr
{
	width: 100%;
	float: left;
	position: relative;
}
.oer_cls
{
	position: absolute;
	right: 0px;
	top: -30px;
	cursor: pointer;
	width: 32px;
	height: 32px;
}
.oer_snglfld.oer_hdngsngl input[type="button"], .oer_snglfld input[type="submit"]
{
	border-radius: 5px 5px 5px 5px;
	color: #ffffff;
	border: medium none !important;
	cursor: pointer;
	float: left;
	font-weight: bold;
	height: auto;
	margin: 0 0 0 0px;
	padding: 10px 20px;
	text-align: center;
	width: auto;
	background-image: linear-gradient(to bottom, #2A95C5, #21759B);
	filter: progrid:DXImageTransform.Microsoft.gradient( startColorstr =#2A95C5, endColorstr = #21759B,GradientType=0);
	font-size: 14px;
}
.oer_snglfld.oer_hdngsngl input[type="button"]:hover, .oer_snglfld input[type="submit"]:hover
{
	background-image: linear-gradient(to bottom, #2E9FD2, #21759B);
	filter: progrid:DXImageTransform.Microsoft.gradient( startColorstr=#2E9FD2,endColorstr=#21759B,GradientType=0 );
}
.oer_snglfld .oer_txt
{
	width: 30%;
	float: left;
	margin: 0;
	padding: 0;
}
.oer_snglfld .oer_fld
{
	width: 70%;
	float: left;
	margin: 0;
	padding: 0;
}
.oer_snglfld .oer_fld input[type="text"]
{
    float: left;
    margin: 0;
    padding: 7px 0;
    width: 100%;
}
.oer_snglfld .oer_fld label
{
    padding-left: 20px;
    padding-right: 5px;
	cursor: pointer;
}
.oer_snglfld .oer_fld select
{
    height: 30px;
    width: 100%;
}
.oer_imprtrwpr
{
    float: left;
    padding: 0px 20px 30px;
    width: 1200px;
}
.oer_imprtrwpr .oer_hdng
{
    float: left;
    font-size: 25px;
    padding: 20px 0;
    width: 100%;
}
.postform
{
    height: 100px !important;
}
.oer_fld ul
{
	list-style: none;
}
.oer_fld li
{
    float: left;
    width: 50%;
	display: block;
}
.level-0,.level-1,.level-2,.level-3,.level-4
{
	height: 20px;
	padding: 2px 0;
}
.oer_lstofstandrd li{
	display: none;
}
li.oer_sbstndard{
	display: block;
}
.oer_fld .oer_lstofstandrd {
    float: left;
    width: 100%;
}
.oer_fld .oer_lstofstandrd ul{
    float: left;
    width: 100%;
}
.oer_fld .oer_lstofstandrd ul li{
    float: left;
    width: 100%;
}
.oer_fld .oer_lstofstandrd img{
    margin-left:100px;
}
.snglctwpr { padding-left:0 !important;padding-right:0 !important;width:auto !important;float:none !important; position:initial !important; display:inline-block; }
.ctgry-cntnr {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    position: relative;
    margin: 0 auto;
    float: left;
}
.cat-div {
    float: none;
    width: 278px;
    height: auto;
    border: 1px solid #afafaf;
    margin: 10px;
    background: none no-repeat scroll center bottom #fff;
    position: relative;
    clear: both;
    height: 325px;
    display: inline-block;
}
.cat-icn {
    float: left;
    width: 100%;
    height: 245px;
}
.cat-txt-btm-cntnr {
    float: left;
    width: 100%;
    border-bottom: 2px solid #024387;
    height: 80px;
    color: #444;
}
.cat-txt-btm-cntnr li {
    margin-left: 10px;
    margin-top: 35px;
    font-size: 15px;
    letter-spacing: .5px;
}
.child-category {
    float: left;
    margin: 0;
    padding: 0;
    background: none repeat scroll 0 0 #ededed;
    padding: 10px;
    /* display: none; */
    position: absolute;
}
.child-category .category .sub-category {
    position: relative;
    width: 100%;
    float: left;
    /* background: url(img/plus.png) no-repeat scroll 0 0 transparent; */
    margin-bottom: 1px;
}
.child-category .category .sub-category span {
    width: 100%;
    float: left;
    background: none repeat scroll 0 0 #ffffff;
    margin-bottom: 1px;
}
.child-category .category .sub-category a {
    float: left;
    text-decoration: none;
    color: #444;
    padding: 15px 0 15px 15px;
    width: 71%;
    margin-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cat-txt-btm-cntnr ul { list-style:none; }
.mne-sbjct-ttl {
    float: left;
    width: 70%;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cat-txt-btm-cntnr li span {
    background: #e57100;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    float: right;
    margin-right: 10px;
    font-size: 12px;
}
.cat-div:hover .cat-txt-btm-cntnr {
    background: #024387;
    cursor: pointer;
    color: #fff;
}
.child_content_wpr {
    float: left;
    margin: 0;
    padding: 20px 20px 20px 20px;
    display: none;
    background: #ededed;
    border-top: 1px solid #024387;
    border-bottom: 1px solid #024387;
    position: absolute;
    left: 0;
    right: 0;
}
.category_sidebar>.category, .child_content_wpr>.category, .category_sidebar>.category>.sub-category, .child_content_wpr>.category>.sub-category {
    display: block;
}
.category_sidebar .category, .child_content_wpr .category {
    display: none;
    width: 100%;
    float: left;
}
.category_sidebar .category .sub-category, .child_content_wpr .category .sub-category, .child-category .category .sub-category {
    position: relative;
    width: 100%;
    float: left;
    /* background: url(img/plus.png) no-repeat scroll 0 0 transparent; */
    margin-bottom: 1px;
}
.category_sidebar>.category, .child_content_wpr>.category, .category_sidebar>.category>.sub-category, .child_content_wpr>.category>.sub-category {
    display: block;
}

.category_sidebar .category .sub-category span, .child_content_wpr .category .sub-category span, .child-category .category .sub-category span {
    width: 100%;
    float: left;
    background: none repeat scroll 0 0 #ffffff;
    margin-bottom: 1px;
}

.category_sidebar .category .sub-category>span a, .child_content_wpr .category .sub-category>span a {
    width: 71%;
    margin-right: 20px;
    float: left;
    padding: 15px 0 15px 15px;
    text-decoration: none;
    color: #444;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.child_content_wpr .category .sub-category label {
    margin: 13px 0 0;
}
.child_content_wpr .category label, .child_content_wpr .category .sub-category label, .child_content_wpr .category .sub-category .sub-category label {
    float: left;
    padding: 2px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #888;
    font-size: 13px;
}

.cat-div:hover .cat-txt-btm-cntnr .mne-sbjct-ttl a {
    color: #fff;
}
