/** subject resources block front-end css **/
.wp-block-wp-oer-plugin-oer-subject-resources-block .oer-snglrsrchdng {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 5px 0 10px;
    font-size: 25px;
    line-height: 25px;
}
.wp-block-wp-oer-plugin-oer-subject-resources-block .oer-snglrsrchdng .sort-box {
    text-align: right;
    float: right;
    margin-top: 0;
    position: relative;
    width: 100px;
    display: inline-block;
    line-height: 1.5em;
    z-index: 2;
}
.wp-block-wp-oer-plugin-oer-subject-resources-block .oer-snglrsrchdng .sort-box .sortoption {
    margin-right: 10px;
    font-size: 0.5em;
    color: #8d8d8d;
}
.wp-block-wp-oer-plugin-oer-subject-resources-block .oer-snglrsrchdng .sort-box .sort-resources {
    cursor: pointer;
}
.wp-block-wp-oer-plugin-oer-subject-resources-block .oer-snglrsrchdng .sort-box .sort-options {
    color: #2980b9;
    font-size: 0.5em;
    -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
    transition: opacity 0.2s, visibility 0s 0.2s;
    position: absolute;
    right: 0;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    display: none;
    border: 1px solid #cdcdcd;
    padding: 0 10px;
    outline: 0;
}
.wp-block-wp-oer-plugin-oer-subject-resources-block .oer-snglrsrchdng .sort-box .components-base-control {
    display: none;
}
.wp-block-wp-oer-plugin-oer-subject-resources-block {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0 0 25px 0;
}
.wp-block-wp-oer-plugin-oer-subject-resources-block .oer-allftrdrsrccntr {
    float: left;
    margin: 0px;
    padding: 0 5px 0 0;
    overflow: auto;
    height: 540px;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    width: 100%;
}
/** end of subject resources block front-end css **/