.archive-header .oer-resources-title { margin:0; }
.resource-search-filters { padding: 20px 20px 30px; border-radius: 5px; position: relative; border: 1px solid #cdcdcd; }
.resource-search-filters .filter-title h2 { margin:0; }
.resource-search-filters .resource-search-keyword { position:relative; }
.resource-search-filters .resource-search-keyword i { position: absolute; top: 10px; left: 25px; color:#686868; }
.resource-search-filters .resource-search-keyword input {
	padding-left: 30px;
    border-radius: 4px;
    border: 1px solid #414141;
    width: 100%;
    height: 38px;
    color: #000000;
}
.resource-select-wrapper {
	position: relative;
    background: #FFFFFF;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #414141;
}
.resource-search-grade-level .resource-select-wrapper select.selectpicker, 
.resource-search-product .resource-select-wrapper select.selectpicker {
	position: absolute!important;
    bottom: 0;
    left: 50%;
    display: block!important;
    width: 0.5px!important;
    height: 100%!important;
    padding: 0!important;
    opacity: 0!important;
    border: none;
    z-index: 0!important;
}
.resource-search-product .resource-select-wrapper .bootstrap-select .dropdown-toggle, 
.resource-search-grade-level .resource-select-wrapper .bootstrap-select .dropdown-toggle {
	position: relative;
    width: 100%;
    text-align: right;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 5px;
}
.resource-search-grade-level .resource-select-wrapper .bootstrap-select .dropdown-toggle .filter-option, 
.resource-search-product .resource-select-wrapper .bootstrap-select .dropdown-toggle .filter-option { overflow: hidden; }
.resource-search-product .resource-select-wrapper .bootstrap-select .dropdown-toggle .filter-option .filter-option-inner-inner { color:#414141; }
.resource-search-grade-level .resource-select-wrapper .bootstrap-select .dropdown-menu, 
.resource-search-product .resource-select-wrapper .bootstrap-select .dropdown-menu {
	width: 100%;
    padding-bottom: 0;
}
.resource-search-grade-level .resource-select-wrapper .bootstrap-select .dropdown-menu.inner, 
.resource-search-product .resource-select-wrapper .bootstrap-select .dropdown-menu.inner {
	position:relative;
	float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.resource-search-grade-level .resource-select-wrapper .bootstrap-select .dropdown-menu li, 
.resource-search-product .resource-select-wrapper .bootstrap-select .dropdown-menu li { position:relative; }
.resource-search-filters .resource-search-button-wrapper {
	flex-basis: 11%;
    max-width: 11%;
    text-align: right;
    padding-right: 0;
}
.resource-search-button {
	display: inline-block;
    width: auto;
    height: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    padding: 0 15px;
    cursor: pointer;
}
.resource-search-grade-level .resource-select-wrapper .bootstrap-select .dropdown-menu li a, 
.resource-search-product .resource-select-wrapper .bootstrap-select .dropdown-menu li a {
	color: #212529;
    padding-left: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.resource-search-grade-level .resource-select-wrapper .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark, 
.resource-search-product .resource-select-wrapper .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
	position: absolute;
    display: inline-block;
    right: 15px;
    top: 5px;
}
.resource-search-grade-level .resource-select-wrapper .bootstrap-select.show-tick .dropdown-menu .selected .bs-ok-default:after, 
.resource-search-product .resource-select-wrapper .bootstrap-select.show-tick .dropdown-menu .selected .bs-ok-default:after,
.resource-search-grade-level .resource-select-wrapper .bootstrap-select.show-tick .dropdown-menu .selected .glyphicon-ok:after, 
.resource-search-product .resource-select-wrapper .bootstrap-select.show-tick .dropdown-menu .selected .glyphicon-ok:after {
	content: '';
    display: block;
    width: 0.5em;
    height: 1em;
    border-style: solid;
    border-width: 0 0.26em 0.26em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.resource-search-product .nalrc-select-wrapper .bootstrap-select .dropdown-menu li a.dropdown-item span.text { padding-right:5px; }
.post-type-archive-resource .oer-cntnr { overflow:unset; }
.oer_blgpst {
    padding: 25px 0;
    max-width: 97%;
    margin: auto;
    border-bottom: 1px solid #d1d1d1;
}
.oer_blgpst .oer-feature-image img {
    width: 100%;
    height: auto;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}
.oer_blgpst .oer-feature-image { width: 16.67% !important; padding-left: 0; }
.oer_blgpst .rght-sd-cntnr-blg { width: 100%; padding-right: 0; }
.oer_blgpst .rght-sd-cntnr-blg h4, .oer_blgpst .rght-sd-cntnr-blg h3 {
    margin-top: 0 !important;
    margin-bottom: 5px;
    font-size: 18px !important;
    font-weight: bold;
    line-height: 20px;
}
.resource-search-filters .action-btns {
    position: absolute;
    top: 10px;
    right: 5px;
}
.resource-search-filters .action-btns a {
    padding: 10px;
    border-radius: 3px;
}