/**
 * WP-OER Plugin
 * Resource Page Stylesheet
 * Version : 0.1
 **/
.oer-cntnr { width:100%; margin:0 auto; overflow:hidden; }
.oer_sngl_resource_wrapper { width: 100%; margin-bottom: 10px; overflow:hidden; }
.oer-rsrclftcntr-img { float: left; width: 42%; /*margin-right: 35px;*/ }
.oer-rsrclftcntr-video { padding-right:0; overflow:hidden; }
.oer-rsrclftcntr-video .videoWrapper { padding-top:0; }
.oer-rsrccntr-details { margin-top:15px; }
.oer-rsrclftcntr .oer-sngl-rsrc-dscrptn h2 { margin-top:0; }
.oer-rsrclftcntr .oer-sngl-rsrc-dscrptn { padding-bottom:0; }
.oer-rsrcrghtcntr { float: left; width: 54%; padding: 0 0 0 15px; box-sizing: border-box; }
.oer-sngl-rsrc-url { float: left; font-size: 26px; padding: 0 0 10px 0; line-height: 28px; text-align: left; width: 100%; }
.oer-sngl-rsrc-url a { text-decoration: none; color: #333; }
.oer-sngl-rsrc-img { position: relative; border: 2px solid #dddddd; float: left; width: 100%; line-height:0; margin-bottom: 10px; }
.oer-sngl-rsrc-img:hover { border: 2px solid #444; }
.oer-sngl-rsrc-img .oer-featureimg { width: auto; }
.oer-sngl-rsrc-img a { color: #444; text-decoration: none; }
.oer-sngl-rsrc-img .oer-rsrcurl { background: none repeat scroll 0 0 #a8aaab; bottom: 0; left: 0; right: 0; padding: 10px; position: absolute; width: auto; /*color: #0c5598; font-style: italic;*/ text-align: right; /*font-size:1.15rem;*/ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.oer-rsrcrghtcntr .oer-rsrcctgries { float: left; margin: 0px; width: 100%; padding-bottom: 5px; }
.oer-rsrcctgries a { /* background: none repeat scroll 0 0 #085394; border: 1px solid #000000; color: #ffffff;float: left;*/ padding: 10px 10px; /*text-decoration: none;*/ width: auto; margin: 0 10px 7px 0; /*font-weight: bold;*/ }
.oer-rsrcctgries a:hover { /*background: none repeat scroll 0 0 #06457C;*/ }
.oer-sngl-rsrc-dscrptn { float: left; font-size: 15px; line-height: 20px; width: 100%; padding-bottom: 0; margin-bottom:15px; }
.oer_sngl_resource_wrapper h1 { font-weight: bold; margin-bottom: 8px; font-size: 22px; color: #000; }
.oer-cbxl { float: left; margin-bottom: 5px; width: 100%; }
.oer-cbxl > h3 { margin-top:3px; margin-bottom: 5px; font-weight: bold; font-size: 14px; width: auto; float: left; margin-right: 15px; }
.oer-view { float: left; /*font-size: 15px;*/ }
.oer-cbxl .oer-view a { color: #1d57a8; text-decoration: underline; width: auto; font-size: 15px; vertical-align:top; }
.oer-mediaType { margin-top: 0px; }
.oer-rsrckeyword { width: 100%; float: left; margin-top: 0; margin-bottom:10px; }
.oer-rsrckeyword .oer_meta_container span a:hover {  /*background: none repeat scroll 0 0 #777;*/ }
.oer-rsrckeyword h3 { margin-top:0; float: left; font-size: 20px; font-weight: bold; line-height: 22px; margin-bottom: 10px;margin-right: 15px; width: 100%; }
.oer-rsrckeyword .oer_meta_container { float: left; font-size: 15px; margin: 0; padding-left: 0; width: 100%; }
.oer-rsrckeyword .oer_meta_container span,
.oer-rsrcrghtcntr .oer-rsrcctgries span { width: auto; float: left; margin: 0 10px 7px 0; padding: 0px; border: medium none; border-radius: 0px; font-size:14px; }
.oer-rsrckeyword .oer_meta_container span a,
.oer-rsrcrghtcntr .oer-rsrcctgries span a{ /*background: none repeat scroll 0 0 #999999; border: 2px solid #085394; color: #ffffff; font-weight: bold;*/ float: left; padding: 6px 12px; /*text-decoration: none; width: auto;*/ }
.oer-sngl-rsrc-meta { width: 100%; float: left; margin-top: 30px; }
.oer-rsrclftcntr { float: right; width: 50%; }
.oer-sngl-rsrc-dscrptn h2 { font-size:22px; font-weight:bold; margin:10px 0; color:#000000; }
.oer_sngl_resource_wrapper h1 { font-size:24px; font-weight:bold; }
.oer_sngl_resource_wrapper h3 { font-size:20px; }
.oer_sngl_resource_wrapper h4 { margin-top: 0; float: left; font-size: 15px; font-weight: bold; line-height: 2em; margin-bottom: 0 !important; margin-right: 15px; margin-top: 0 !important; width: auto; }
.oer-rsrcctgries ul li.cat-item { list-style:none; display:inline-block; }
.oer-featureimg img { width:100%; height:auto !important; }
.oer-core-title { margin-top:15px; }
.oer-core-title:first-child { margin-top:0; }
.oer-core-title h4 { float:none; }
.oer_sngl_notation { margin-right:5px; }
.oer_sngl_stndrd { clear:both; }
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.oer-sngl-rsrc-img .oer-rsrcurl.left { text-align:left; }
.oer-cbxl h4 span { font-size: 0.85em; font-weight: normal; color: #000000; }
#sngl-resource header.entry-header {
	background: #f2f2f2;
    padding: 10px 20px;
    margin-bottom: 20px;
	overflow:hidden;
	max-width: 100% !important;
	display: block !important;
    width:100%;
}
#sngl-resource header.entry-header .entry-title { margin-top:0; margin-bottom:0; }
#sngl-resource header.entry-header span.sensitive-resource {
    line-height: 3.5em;
	font-size:13px;
	color:#ED4141;
	text-align:right;
}
#sngl-resource header.entry-header span.sensitive-resource i { margin-right:10px; }
.twenty-sixteen #sngl-resource header.entry-header { margin-right:0; margin-left:0; }
.twenty-sixteen #sngl-resource header.entry-header .entry-title { max-width:100%; }
.twenty-sixteen #sngl-resource .oer-featureimg img,
.twenty-fifteen #sngl-resource .oer-featureimg img,
.twenty-twelve #sngl-resource .oer-featureimg img,
.twenty-eleven #sngl-resource .oer-featureimg img { height:auto; }
.twenty-fourteen .oer_sngl_resource_wrapper { padding-left: 9%; }
.oer-sngl-rsrc-img { max-width:400px; width:100%; }
.oer-sngl-rsrc-pdf, .oer-sngl-pdf-type { max-width:100%; }
.oer-featureimg img { width:100%; height:400px; }
#sngl-resource .tc-field-heading {
	font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    line-height: 19px;
    margin: 0;
	float:none; 
}
.tc-oer-standards-list, .tc-oer-subject-areas-list {
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 15px;
}
.tc-oer-standards-list li, .tc-oer-subject-areas-list li {
    list-style: none;
    font-size: 14px;
}
.tc-oer-standards-list li a, .tc-oer-subject-areas-list li a {
    text-decoration: none;
}
p.center { text-align:center; }
.oer-see-more-row .oer-see-more-link, .oer-see-more-row .oer-see-more-link:active {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    cursor: pointer;
    text-decoration: none;
}
.oer-lp-full-content {
    display: none;
}
.oer-lp-full-content .bx-wrapper.mobile .featuredwpr_bxslider li { width:375px !important; }
.oer-lp-full-content pre {
    white-space: normal !important;
}
.oer-lp-label {
	font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    width: 40%;
    float: left;
}
.license-field { text-align:left; margin-top:10px; }
.oer-rsrclftcntr .form-field.license-field { margin:30px 0; }
.tc-hidden-fields { overflow:hidden; }
.tc-hidden-fields .form-field,
.oer-rsrclftcntr .form-field,
.pdf-resource-details .form-field { overflow:hidden; display:table; width:100%; margin-bottom:5px; }
.tc-hidden-fields .form-field .oer-lp-label,
.oer-rsrclftcntr .form-field .oer-lp-label,
.pdf-resource-details .form-field .oer-lp-label { display:table-cell; float:none; }
.tc-hidden-fields .form-field .oer-lp-value,
.oer-rsrclftcntr .form-field .oer-lp-value,
.pdf-resource-details .form-field .oer-lp-value { display:table-cell; }
.tc-hidden-fields .form-field .oer-lp-value .oer-lp-value-full { display:none; }
.tc-hidden-fields .form-field .oer-lp-value .oer-lp-value-full p,
.tc-hidden-fields .form-field .oer-lp-value .oer-lp-value-excerpt p{ margin-bottom:0; }
.collapse.show { display:flex; }
.oer-lp-red { color:#ED4141; }
/*
.oer-sngl-rsrc-img.oer-sngl-audio-type {
	display: flex;
    height: 200px;
    border: none;
    justify-content: center;
    align-items: center;
}
*/
.oer-sngl-rsrc-img.oer-sngl-audio-type audio { width:100% !important; }
.oer-sngl-rsrc-img.oer-sngl-audio-type { border:none; }
#sngl-resource .oer-see-more-row { max-width:100%; }
#sngl-resource #tcHiddenFields { max-width:100%; }
/** For Mobile styles **/
@media screen and (min-width: 960px) {
    .oer-sngl-rsrc-dscrptn { width: 100%; }
    
}
@media screen and (max-width: 600px) {
    .oer-rsrclftcntr-img { margin-bottom:15px; overflow:hidden; }
}