.resource_category_sidebar { width: 25%; float: left; margin: 0; padding: 0; background: none repeat scroll 0 0 #ededed; padding: 10px; }
.resource_category_sidebar > .resource-category { display:block; width: 100%; float: left; }
.rightcatcntr { width: 75%; float: right; margin: 0; padding: 0; }